.page-video-hot {
    padding: 0 15px;
    ul{
        padding: 15px 0;
        @extend .d-flex, .flex-wrap;
        li{
            padding-bottom: 5px;
            border-bottom: 2px solid transparent;
            margin-right: 65px;
            margin-bottom: 10px;
            &.active{
                border-bottom: 2px solid #79b53e;
            }
        }
    }
    a{
        text-transform: uppercase;
        font-size: 20px;
        color: rgba(0, 0, 0, 255);
    }
    .video-hot-content-left {
        .has-padding {
            padding: 16px;
            background: #fff;
        }
        .video-advertise{
            margin-bottom: 25px;
            .fs-vdsboxs .fs-newsrow {
                margin: 0px !important;
            }
            .title-video-top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                color: #fff;
    
                h2 {
                    margin: 0;
                    color: #fff;
                    font-size: 28px;
    
                    img {
                        vertical-align: bottom;
                    }
                }
            }
        }
        .video-news-content-wrap{
            padding: 25px 15px;
            border-bottom: 1px solid #efeeea;
            margin-bottom: 0;
            &:last-child{
                margin-bottom: 40px;
            }
            a{
                color: #333333;
            }
              .title-infomation{
                h4{
                    font-size: 22px;
                    text-transform: uppercase;
                    font-weight: bold;
                    
                }
                p{
                    margin-bottom: 25px;
                }
            }
            .modal-dialog {
                max-width: 800px;
                margin: 30px auto;
                position: relative;
            }
    
            .modal-body {
                position: relative;
                padding: 0px;
            }
    
            .close {
                position: absolute;
                right: -30px;
                top: 0;
                z-index: 999;
                font-size: 2rem;
                font-weight: normal;
                color: #fff;
                opacity: 1;
            }
            .products{
                .item-product{
                    p{
                        font-weight: 600;
                        margin-top: 20px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        display: -webkit-box;
                    }
                    span{
                        display: block;
                        font-size: 12px;
                        color: #999999;
                    }
                    .fs-vds-img{
                        padding-bottom: 60%;
                        position: relative;
                        width: 100%;
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
                
                .owl-theme .owl-dots .owl-dot{
                    background: transparent;
                    border: 0;
                    padding: 0;
                    &.active{
                        span{
                            background: #79b53e;
                        }
                    }
                    span{
                        background: #c7c7c7;
                    }
                }
            }
        }
        .views-more-news {
            padding: 30px 0 50px;
            background: #fff;
            margin-bottom: 40px;
        }
    }
}
@media (min-width: 768px){
    .owl-theme .owl-dots{
    }
    .page-video-hot{
        .video-hot-content-left{
            .video-news-content-wrap{
                margin-bottom: 0;
            }
        } 
    } 
}